{% if paginator.total_pages > 1 %}
<h2 class="sr-only">Pagination</h2>
<nav class="pagination heading" role="navigation">
  <ul>
    <li class="pagination-item newer" >
      {% if paginator.previous_page %}
        <a rel="prev" href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
      {% endif %}
    </li>
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="pagination-item active">
          <a class="page-link" href="#">{{ page }} <span class="sr-only">(current)</span></a>
        </li>
      {% elsif page == 1 %}
        <li class="pagination-item">
          <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}">{{ page }}</a>
        </li>
      {% else %}
        <li class="pagination-item"><a class="page-link" href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="pagination-item older" >
      {% if paginator.next_page %}
        <a rel="next" href="{{ paginator.next_page_path | relative_url }}">Next</a>
      {% endif %}
    </li>
  
  </ul>
</nav>
{% endif %}
